.page{
	background-color: #FFF;
	display: block;
	width: 800px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
body{
	text-align: center;

}
ul{
	display:inline;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin: 0px;
	padding: 0px;
}
div#globalnavi {
	overflow:hidden;
	width:800px;
	height:30px;
	margin-top:0px;
	margin-right:auto;
	margin-bottom:20px;
	margin-left:auto;
	padding-right:0px;
	padding-left:0px;
}
div#globalnavi ul {
	width:150px;
	height:30px;
}
div#globalnavi ul li {
	float:left;
	width:150px;
	height:30px;
	display: block;
}
div#globalnavi ul li a {
	display:block;
	width:150px;
	height:30px;
	background-repeat:no-repeat;
	background-position: 0 0;
	text-indent:-9999px;
	outline:none;
}
div#globalnavi ul li#menu1 a{
	background-image:url(image/botton1.gif);
}
div#globalnavi ul li#menu1 a:hover{
	background:url(image/botton2.gif) no-repeat;
}
div#globalnavi ul li#menu2 a{
	background-image:url(image/botton3.gif);
}
div#globalnavi ul li#menu2 a:hover{
	background:url(image/botton4.gif) no-repeat;
}
div#globalnavi ul li#menu3 a{
	background-image:url(image/botton5.gif);
}
div#globalnavi ul li#menu3 a:hover{
	background-image:url(image/botton6.gif);
}
div#globalnavi ul li#menu4 a{
	background-image:url(image/botton7.gif);
}
div#globalnavi ul li#menu4 a:hover{
	background-image:url(image/botton8.gif);
}
div#globalnavi ul li#menu5 a{
	background-image:url(image/botton9.gif);
}
div#globalnavi ul li#menu5 a:hover{
	background-image:url(image/botton10.gif);
}
li#menu1{
	display: block;
	width: 150px;
	height:30px;
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
	outline: none;
	background-image: url(image/botton1.gif);
}
li#menu2{
	display: block;
	width: 150px;
	height:30px;
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
	outline: none;
	background-image: url(image/botton3.gif);
}
li#menu3{
	display: block;
	width: 150px;
	height:30px;
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
	outline: none;
	background-image: url(image/botton5.gif);
}
li#menu4{
	display: block;
	width: 150px;
	height:30px;
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
	outline: none;
	background-image: url(image/botton7.gif);
}

li#menu5{
	display: block;
	width: 150px;
	height:30px;
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
	outline: none;
	background-image: url(image/botton9.gif);
}
div#collectionnavi{
	overflow:hidden;
	width:150px;
	height:180px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0;
	margin: 0;
	padding-top: 0px;
	display: block;
	text-align: left;
}
div#collectionnavi ol{
	width:150px;
	height:24px;
}
div#collectionnavi ol li {
	float:left;
	width:150px;
	height:24px;
	display: block;
}
div#collectionnavi ol li a {
	display:block;
	width:150px;
	height:24px;
	background-repeat:no-repeat;
	background-position: 0 0;
	text-indent:-9999px;
	outline:none;
}
div#collectionnavi ol li#comenu1 a{
	background-image:url(image/cnavi1.png);
}
div#collectionnavi ol li#comenu1 a:hover{
	background:url(image/cnavi2.png) no-repeat;
}
div#collectionnavi ol li#comenu2 a{
	background-image:url(image/cnavi3.png);
}
div#collectionnavi ol li#comenu2 a:hover{
	background:url(image/cnavi4.png) no-repeat;
}
div#collectionnavi ol li#comenu3 a{
	background-image:url(image/cnavi5.png);
}
div#collectionnavi ol li#comenu3 a:hover{
	background:url(image/cnavi6.png) no-repeat;
}
div#collectionnavi ol li#comenu4 a{
	background-image:url(image/cnavi7.png);
}
div#collectionnavi ol li#comenu4 a:hover{
	background:url(image/cnavi8.png) no-repeat;
}
div#collectionnavi ol li#comenu5 a{
	background-image:url(image/cnavi9.png);
}
div#collectionnavi ol li#comenu5 a:hover{
	background:url(image/cnavi10.png) no-repeat;
}
div#collectionnavi ol li#comenu6 a{
	background-image:url(image/cnavi11.png);
}
div#collectionnavi ol li#comenu6 a:hover{
	background:url(image/cnavi12.png) no-repeat;
}
div#collectionnavi ol li#comenu7 a{
	background-image:url(image/cnavi13.png);
}
div#collectionnavi ol li#comenu7 a:hover{
	background:url(image/cnavi14.png) no-repeat;
}
li#comenu1{
	display: block;
	width: 150px;
	height:24px;
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
	outline: none;
	background-image: url(image/cnavi1.png);
}
li#comenu2{
	display: block;
	width: 150px;
	height:24px;
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
	outline: none;
	background-image: url(image/cnavi3.png);
}
li#comenu3{
	display: block;
	width: 150px;
	height:24px;
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
	outline: none;
	background-image: url(image/cnavi5.png);
}
li#comenu4{
	display: block;
	width: 150px;
	height:24px;
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
	outline: none;
	background-image: url(image/cnavi7.png);
}
li#comenu5{
	display: block;
	width: 150px;
	height:24px;
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
	outline: none;
	background-image: url(image/cnavi9.png);
}
li#comenu6{
	display: block;
	width: 150px;
	height:24px;
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
	outline: none;
	background-image: url(image/cnavi11.png);
}
li#comenu7{
	display: block;
	width: 150px;
	height:24px;
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
	outline: none;
	background-image: url(image/cnavi13.png);
}
img{
	border:0;
	margin: 0px;
	padding: 0px;
}
.sitemap{
	text-align:right;
	display:block;
	margin-left:auto;
	margin-right:20px;
	margin-top: 10px;
	font-size:14px;
	list-style-type:none;
	display:inline;
}
address{
	font-style: normal;
	font-size: 12px;
	color: #333333;
	text-align:right;
	padding-right:0px;
	padding-top:10px;
	padding-bottom:20px;
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;
	clear:both;	
}
div#top1 {
	width: 350px;
	height:140px;
	display:block;
	text-align:left;
	margin-left:0px;
	margin-top:10px;
	margin-right:20px;
	margin-bottom:10px;
	padding-left:5px;
	padding-right:0px;
	border-top-style:dashed;
	border-right-style:dashed;
	border-bottom-style:dashed;
	border-left-style:dashed;
	border-top-color:#D9DAE8;
	border-right-color:#D9DAE8;
	border-bottom-color:#D9DAE8;
	border-left-color:#D9DAE8;
	float:right;
}
div#top2{
	width:350px;
	height:140px;
	display:block;
	text-align:left;
	padding-top:10px;
	padding-bottom5px;
	margin-top:10px;
	margin-right:;
	margin-left:10px;
	float:left;
}
.toptable{
	width:600px;
	text-align:center;
	display:block;
	margin-right:auto;
	margin-left:auto;
	clear:both;
}
.1{
	font-size:14px;
	margin-left:20px;
}
p{
	font-size:12px;
	color: #333333;
}
a:link{
	font-size:12px;
	color:#663300;
	text-decoration:underline;
}
a:visited{
	font-size:12px;
	color:#663300;
	text-decoration:underline;
}
a:active{
	font-size:12px;
	color:#663300;
	text-decoration:underline;
}
a:hover{
	font-size:12px;
	text-decoration:underline;
	color: #ff1493;
}
.linkc{
	margin-top:10px;
	margin-bottom:5px;
	clear:both;	
}
.linktable{
	width:620px;
	height:500px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}
.leftdiv{
	float:left;
	width:150px;
	text-align:left;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
}
.leftdivo{
	float:left;
	width:150px;
	height:1600px;
	text-align:left;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 0px;
}
.leftdivpro{
	float:left;
	width:150px;
	height:630px;
	text-align:left;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
}
.leftdivs1{
	float:left;
	width:150px;
	height:3220px;
	text-align:left;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
}
.leftdivs7{
	float:left;
	width:150px;
	height:1800px;
	text-align:left;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
}
.leftdivp1{
	float:left;
	width:150px;
	height:1600px;
	text-align:left;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
}
.leftdivp2{
	float:left;
	width:150px;
	height:900px;
	text-align:left;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
}
.leftdivp4{
	float:left;
	width:150px;
	height:1100px;
	text-align:left;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
}
.leftdivp7{
	float:left;
	width:150px;
	height:900px;
	text-align:left;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
}
.leftdivp6{
	float:left;
	width:150px;
	height:700px;
	text-align:left;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
}
.leftdivko2{
	float:left;
	width:150px;
	height:600px;
	text-align:left;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
}
.rightdiv{
	float:right;
	width:550px;
	text-align:left;
	padding-right:20px;
	padding-bottom: 50px;
	height: 350px;
}
.rightdivs{
	float:right;
	width:550px;
	text-align:left;
	padding-right:20px;
	padding-bottom: 50px;
	height: 200px;
}
.rightdivs1{
	float:right;
	width:550px;
	text-align:left;
	padding-right:20px;
	padding-bottom: 50px;
	height: 3220px;
}
.rightdivs7{
	float:right;
	width:550px;
	text-align:left;
	padding-right:20px;
	padding-bottom: 50px;
	height:1800px;
}
.rightdivp{
	float:right;
	width:550px;
	text-align:left;
	padding-right:20px;
	padding-bottom: 10px;
	height: 340px;
}
.rightdivo{
	float:right;
	width:550px;
	text-align:left;
	padding-right:20px;
	padding-bottom: 50px;
	height: 700px;
}
.rightdivpro{
	float:right;
	width:550px;
	text-align:left;
	padding-right:20px;
	padding-bottom: 50px;
	height: 630px;
}
.rightdivp1{
	float:right;
	width:550px;
	text-align:left;
	padding-right:20px;
	padding-bottom: 20px;
	height:1600px;
}
.rightdivp2{
	float:right;
	width:550px;
	text-align:left;
	padding-right:20px;
	padding-bottom: 20px;
	height:900px;
}
.rightdivp4{
	float:right;
	width:550px;
	text-align:left;
	padding-right:20px;
	padding-bottom: 20px;
	height:1100px;
}
.rightdivp7{
	float:right;
	width:550px;
	text-align:left;
	padding-right:20px;
	padding-bottom: 20px;
	height:1200px;
}
.rightdivp6{
	float:right;
	width:550px;
	text-align:left;
	padding-right:20px;
	padding-bottom: 20px;
	height:700px;
}
.rightdivko2{
	float:right;
	width:550px;
	text-align:left;
	padding-right:20px;
	padding-bottom: 20px;
	height:600px;
}
h2{
	font-size:14px;
}
.sitemaph2{
	text-align:left;
	text-indent: -9999px;
	display: block;
}
h1 {
	text-indent: -9999px;
	display: block;
	font-size: 14px;
}

.sitemaptable{
	padding-left:50px;
	width:650px;
}
.sitemaptd{
	width:260px;
}
.topic{
	font-size: 13px;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 15px;
	margin-right: auto;
	margin-left:5px;
}
.topicp{
	color:#ff1493;
	font-size: 13px;
}
.abc{
	display:inline;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 180px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
a img{
	border:0;
}
.cotable{
	width:720px;
	height:240px;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	margin-bottom:50px;
}
.cotable2 {
	width: 500px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 50px;
	margin-left: 0px;
	display: block;
	height: 140px;
}
.cotables {
	width: 600px;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 50px;
	margin-left: 0px;
	display: block;
	height: 140px;
}
.cotablep {
	width:500px;
	margin-top:10px;
	margin-right:0px;
	margin-bottom:10px;
	margin-left: 0px;
	display: block;
}
.cotable3 {
	width: 200px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 50px;
	margin-left: 0px;
	display: block;
	height: 140px;
	padding-left: 10px;
}
.tdp {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
	background-color: #CCC;
	width: 220px;
}
.td1 {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
	background-color: #CCC;
	width: 300px;
}
.topic2{
	font-size: 14px;
	text-align: right;
	margin-top: 20px;
	margin-bottom: 15px;
	margin-right:20px;
	margin-left:0px;
	clear:both
}
.sitemaptd1{
	width:260px;
	background-color:#ffe4e1;
}
.sitemaptd2{
	width:260px;
	background-color:#FFE4C4;
}
.sitemaptd3{
	width:220px;
	background-color:#fff5ee;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.ads{
	padding-top: 5px;
	padding-bottom: 5px;
}
.kaerutable {
	width: 400px;
	padding-bottom: 100px;
}
